{% sw_extends '@Storefront/storefront/page/product-detail/review/review-form.html.twig' %}

{% block page_product_detail_review_form_footer %}
<div class="product-detail-review-form-footer">
    {% block page_product_detail_review_form_required %}
    <p class="required-fields">
        {{ "general.requiredFields"|trans|sw_sanitize }}
    </p>
    {% endblock %}

    <div class="product-detail-review-form-actions">
        {% block page_product_detail_review_form_cancel %}
        {% endblock %}

        {% block page_product_detail_review_form_submit %}
            <button type="submit" class="btn btn_primary">
                {{ "detail.reviewFormSubmitText"|trans|sw_sanitize }}
            </button>
        {% endblock %}
    </div>
</div>
{% endblock %}