{% sw_extends '@Storefront/storefront/page/product-detail/review/review-widget.html.twig' %}

{% block page_product_detail_review_form_teaser_button %}
    <button class="btn btn_primary product-detail-review-teaser-btn" type="button" data-toggle="collapse"
        data-target=".multi-collapse" aria-expanded="false" aria-controls="review-form review-list">
        <span class="product-detail-review-teaser-show">
            {% if not reviews.customerReview %}
                {{ "detail.reviewTeaserButton"|trans|sw_sanitize }}
            {% else %}
                {{ "detail.reviewExistsTeaserButton"|trans|sw_sanitize }}
            {% endif %}
        </span>
        <span class="product-detail-review-teaser-hide">
            {{ "detail.reviewTeaserButtonHide"|trans|sw_sanitize }}
        </span>
    </button>
{% endblock %}