{% sw_extends '@Storefront/storefront/page/product-detail/review/review-login.html.twig' %}

{% block component_account_login_submit %}
    <div class="float-left">
        {{ parent() }}
    </div>
{% endblock %}

{% block page_product_detail_review_form_cancel %}
{% endblock %}