{% sw_extends '@Storefront/storefront/page/product-detail/review/review.html.twig' %}

{% block page_product_detail_review_list_actions %}
    {# Review actions removed #}

{# TODO: calculate reviews in current language in list #}
{% set listReviewsCount = productReviewCount - foreignReviewsCount %}
{# TODO: fix if reviews in foreign language are more than in customer language#}
{% if listReviewsCount < 0 %}
{% set listReviewsCount = 0 %}
{% endif %}

<p class="text-right product-detail-review-counter">
    {% if (listReviewsCount > 1 and listReviewsCount > reviewsPerListPage) %}
    <small><strong>{{ currentListPage }}</strong> - <strong>{{ reviewsPerListPage }}</strong>
        {{ "detail.reviewCountBefore"|trans|sw_sanitize }} <strong>{{ listReviewsCount }}</strong>
        {{ "detail.reviewCountAfter"|trans({'%count%': listReviewsCount })|sw_sanitize }}</small>
    {% elseif listReviewsCount > 0 %} {# TODO fix detail.reviewCountAfter snippet for listReviewsCount = 0#}
    <small><strong>{{ listReviewsCount }}</strong>
        {{ "detail.reviewCountAfter"|trans({'%count%': listReviewsCount })|sw_sanitize }}</small>
    {% endif %}
</p>
{% endblock %}