{% sw_extends '@Storefront/storefront/layout/navigation/categories.html.twig' %}

{% block layout_navigation_categories %}
    {% set navigationMaxDepth = 3 %}

    {% if not level %}
        {% set level = 0 %}
    {% endif %}
    {% set activeId = page.header.navigation.active.id %}

    <div class="{% if level == 0 %}row {% endif %}navigation-flyout-categories is-level-{{ level }}">
        {% for treeItem in navigationTree %}
            {% set id = treeItem.category.id %}
            {% set name = treeItem.category.translated.name %}
            {% set link = treeItem.category.externalLink %}

            {% block layout_navigation_categories_item %}
                <div class="{% if level == 0 %}col-4 {% endif %}navigation-flyout-col">
                    {% block layout_navigation_categories_item_link %}
                        {{ parent() }}
                    {% endblock %}

                    {% block layout_navigation_categories_recoursion %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
