/*
Override variable defaults
==================================================
This file is used to override default SCSS variables from the Shopware Storefront or Bootstrap.

Because of the !default flags, theme variable overrides have to be declared beforehand.
https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
*/

//$sw-font-family-base: 'Lato', sans-serif;
//$sw-font-family-headline: 'Allison', cursive;

@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
