// dpk Theme Colors

$dpk-primary: #83B4D8;
$dpk-secondary: #60315A;

$dpk-white-font: #fff;
$dpk-dark-font: #4a545b;
$dpk-gray-font: #6F6F6E;
$dpk-nav-bg: rgba(#ffffff, .9);
$dpk-primary-dark: #83B4D8;
$dpk-primary-soft: #EDF4F9;
$dpk-primary-softer: #EDF4F9;
$dpk-primary-lighter: #EDF4F9;
$dpk-discount-color: #e52427;
$dpk-light-gray: #F5F5F5;


$dpk-primary-transparent: #009EE2B3;
$dpk-primary-transparent-light: rgba(0, 158, 226, 0.31);
$dpk-primary-transparent-lighter: rgba(0, 158, 226, 0.08);
$dpk-primary-transparent-lightest: #eef9fe;

// Unicode Symbols

$dpk-circle: "\25cf";

// Miscellaneous

$dpk-transition-speed: 0.3s;
$dpk-assets-path: "/bundles/bowdeinepktheme/assets/";

// Iconset dpk

$dpk-font-family: "iconset-dpk" !default;
$additional-dpk-font-family: "additional-iconset-dpk" !default;
$dpk-font-path: "fonts/iconset-dpk" !default;

$icon-headphones: "\e901";
$icon-heart: "\e902";
$icon-mail: "\e903";
$icon-phone: "\e905";
$icon-power: "\e906";
$icon-school: "\e907";
$icon-user: "\e909";
$icon-wrench: "\e90b";
$icon-drucksaal: "\e900";
$icon-pfeil: "\e904";
$icon-star: "\e908";
$icon-vorstufe: "\e90a";
$icon-zubehoer: "\e90c";
$icon-download: "\e90e";
