.product_detail__media {
  .gallery-slider-single-image, .gallery-slider-item {
    min-height: 420px;
  }
}


@media screen and (min-width: 1441px) {
  .product_detail__media {
    .gallery-slider-single-image, .gallery-slider-item {
      min-height: 560px;
    }
  }
}
