{% sw_extends '@Storefront/storefront/base.html.twig' %}


{% block base_navigation %}
    {# moved navigation from its origin into the header #}
{% endblock %}

{# add class for more specific scss changes #}

{% block base_noscript %}
    <noscript class="noscript-main">
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: 'info',
            content: 'general.noscriptNotice'|trans|sw_sanitize
        } %}
    </noscript>
{% endblock %}

{% block base_header %}
    <header class="header-main">
        {% block base_header_inner %}
            {# container class removed #}
            {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
        {% endblock %}
    </header>
{% endblock %}

{% block base_main %}
    <main class="content-main">
        {% block base_flashbags %}
            <div class="flashbags container">
                {% for type, messages in app.flashes %}
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type: type, list: messages } %}
                {% endfor %}
            </div>
        {% endblock %}

        {% block base_main_inner %}
            <div class="container">
                {% block base_main_container %}
                    <div class="container-main">
                        {% block base_breadcrumb %}
                            {% if breadcrumbList %}
                                {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' %}
                            {% endif %}
                        {% endblock %}

                        {% block base_content %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
        {% if page.footer.navigation.active.customFields.custom_bow_seo_category_text_ is not empty %}
        {% block bow_seo_category_text %}
            <div class="container">
                <div class="container-main bow-seo">

                        <div class="col-12 bow-category-seo">
                            <p>
                                {{ page.footer.navigation.active.customFields.custom_bow_seo_category_text_ |raw }}
                            </p>
                        </div>

                </div>

            </div>
        {% endblock %}
        {% endif %}
    </main>
{% endblock %}

{% block base_footer_inner %}
    {% block layout_bow_footer_newsletter %}
        {#  <div class="bow-footer-newsletter row col-12">
            <div class="newsletter-box col-12"  style="background-image: url({{ asset('bundles/bowdeinepktheme/assets/newsletter.jpg') }})">
                <div class="newsletter-box-overlay">
                    <div class="col-12 col-lg-6 newsletter-registration-box">
                        <div class="newsletter-box-headline">
                            {{ "dpk.footer.newsletter.headline"|trans|sw_sanitize }}
                        </div>
                        <div class="newsletter-box-content">
                            {{ "dpk.footer.newsletter.contentText"|trans|sw_sanitize }}
                        </div>
                        <div class="col-12 newsletter-registration-link">
                            <a  class="btn btn-secondary" href="{{ "dpk.footer.newsletter.buttonLink"|trans|sw_sanitize }}" title="zur Newsletter Anmeldung">
                                {{ "dpk.footer.newsletter.buttonText"|trans|sw_sanitize }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
    {% endblock %}
    <div class="container">
        {% sw_include '@Storefront/storefront/layout/footer/footer.html.twig' %}
    </div>

    {# Move Footer Bottom Below the Container to make it stretch #}
    {% block layout_footer_bottom %}
        <div class="footer-bottom">
            {% block layout_footer_vat %}
            {% endblock %}

            {% block layout_footer_service_menu %}
                <div class="container">
                    {% block layout_footer_service_menu_content %}
                        <ul class="footer-service-menu-list list-unstyled">
                            {% for serviceMenuItem in page.header.serviceMenu %}
                                {% block layout_footer_service_menu_item %}
                                    <li class="footer-service-menu-item">
                                        <a class="footer-service-menu-link"
                                           href="{% if serviceMenuItem.externalLink %}{{ serviceMenuItem.externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: serviceMenuItem.id }) }}{% endif %}"
                                           title="{{ serviceMenuItem.translated.name }}">
                                            {{ serviceMenuItem.translated.name }}
                                        </a>
                                    </li>
                                {% endblock %}
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block layout_footer_copyright %}
                <div class="footer-copyright">
                    © {{ "dpk.footer.copyrightInfo"|trans|sw_sanitize }} |&nbsp;
                    <a href="https://bow-agentur.de">
                        <img src="{{ asset('bundles/bowdeinepktheme/assets/bow-logo.svg') }}"
                             alt="{{ "dpk.footer.bowInfo"|trans|sw_sanitize }}"
                             title="{{ "dpk.footer.bowInfo"|trans|sw_sanitize }}"
                             class="bow-logo" />
                    </a>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}