{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
    {% block layout_footer_navigation %}
        <div id="footerColumns"
             class="row footer-columns justify-content-center"
             data-collapse-footer="true">

            {% block layout_footer_navigation_columns %}
                {% for root in page.footer.navigation.tree %}
                    {% block layout_footer_navigation_column %}

                        {# changed the column with to '3' to get four columns #}
                        <div class="col-12 col-md-6 col-lg-3 footer-column js-footer-column">
                            {% block layout_footer_navigation_information_headline %}
                                <div class="footer-column-headline footer-headline js-collapse-footer-column-trigger"
                                    data-target="#collapseFooterTitle{{ loop.index }}"
                                    aria-expanded="true"
                                    aria-controls="collapseFooter{{ loop.index }}">

                                    {{ root.category.translated.name }}

                                    {% block layout_footer_navigation_information_icons %}
                                        <div class="footer-column-toggle">
                                            <span class="footer-plus-icon">
                                                {% sw_icon 'plus' %}
                                            </span>
                                            <span class="footer-minus-icon">
                                                {% sw_icon 'minus' %}
                                            </span>
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}

                            {% block layout_footer_navigation_information_content %}
                                <div id="collapseFooter{{ loop.index }}"
                                    class="footer-column-content collapse js-footer-column-content"
                                    aria-labelledby="collapseFooterTitle{{ loop.index }}">
                                    <div class="footer-column-content-inner">
                                        {% block layout_footer_navigation_information_links %}
                                            <ul class="list-unstyled">
                                                {% for treeItem in root.children %}
                                                    {% set category = treeItem.category %}
                                                    {% set name = category.translated.name %}
                                                    {% set externalLink = category.translated.externalLink %}
                                                    {% block layout_footer_navigation_information_link_item %}
                                                        <li class="footer-link-item">
                                                            {% block layout_footer_navigation_information_link %}
                                                                <a class="footer-link"
                                                                    href="{% if externalLink %}{{ externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}{% endif %}"
                                                                    title="{{ name }}">
                                                                    {{ name }}
                                                                </a>
                                                            {% endblock %}
                                                        </li>
                                                    {% endblock %}
                                                {% endfor %}
                                            </ul>
                                        {% endblock %}
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endfor %}
            {% endblock %}

            {% block layout_footer_navigation_payment_delivery %}
                <div class="col-md-6 col-lg-4 col-xl-3 footer-column js-footer-column">
                    {% block layout_footer_navigation_payment_delivery_headline %}
                        <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                             id="collapseFooterPaymentDeliveryTitle"
                             data-target="#collapseFooterPaymentDelivery"
                             aria-expanded="true"
                             aria-controls="collapseFooterPaymentDelivery">
                            {{ 'dpk.footer.paymentShipping'|trans|sw_sanitize }}

                            {% block layout_footer_navigation_payment_delivery_icons %}
                                <div class="footer-column-toggle">
                                    <span class="footer-plus-icon">
                                        {% sw_icon 'plus' %}
                                    </span>
                                    <span class="footer-minus-icon">
                                        {% sw_icon 'minus' %}
                                    </span>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block layout_footer_navigation_payment_delivery_content %}
                        <div id="collapseFooterPaymentDelivery"
                             class="footer-column-content collapse js-footer-column-content footer-contact"
                             aria-labelledby="collapseFooterPaymentDeliveryTitle">
                            <div class="footer-column-content-inner">
                                <div class="footer-payment-logos">
                                    <div class="footer-payment-logos-title">
                                        {{ 'dpk.footer.payment'|trans|sw_sanitize }}
                                    </div>
                                    {% block layout_footer_payment_logos %}
                                        <div class="footer-payment-logos-container">
                                            {% for paymentMethod in page.salesChannelPaymentMethods %}
                                                {% block layout_footer_payment_logo %}
                                                    {% if paymentMethod.media %}
                                                        <div class="footer-logo is-payment">
                                                            {% sw_thumbnails 'footer-payment-image-thumbnails' with {
                                                                media: paymentMethod.media,
                                                                sizes: {
                                                                    'default': '100px'
                                                                },
                                                                attributes: {
                                                                    'class': 'img-fluid footer-logo-image',
                                                                    'alt': (paymentMethod.media.translated.alt ?: paymentMethod.translated.name),
                                                                    'title': (paymentMethod.media.translated.title ?: paymentMethod.translated.name)
                                                                }
                                                            } %}
                                                        </div>
                                                    {% endif %}
                                                {% endblock %}
                                            {% endfor %}
                                        </div>
                                    {% endblock %}
                                </div>
                                <div class="footer-shipping-logos">
                                    <div class="footer-shipping-logos-title">
                                        {{ 'dpk.footer.shipping'|trans|sw_sanitize }}
                                    </div>
                                    {% block layout_footer_shipping_logos %}
                                        <div class="footer-shippinsg-logos-container">
                                            {% for shippingMethod in page.salesChannelShippingMethods %}
                                                {% block layout_footer_shipping_logo %}
                                                    {% if shippingMethod.media %}
                                                        <div class="footer-logo is-shipping">
                                                            {% sw_thumbnails 'footer-shipping-image-thumbnails' with {
                                                                media: shippingMethod.media,
                                                                sizes: {
                                                                    'default': '100px'
                                                                },
                                                                attributes: {
                                                                    'class': 'img-fluid footer-logo-image',
                                                                    'alt': (shippingMethod.media.translated.alt ?: shippingMethod.translated.name),
                                                                    'title': (shippingMethod.media.translated.title ?: shippingMethod.translated.name)
                                                                }
                                                            } %}
                                                        </div>
                                                    {% endif %}
                                                {% endblock %}
                                            {% endfor %}
                                        </div>
                                    {% endblock %}
                                </div>

                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block layout_footer_navigation_hotline %}
                <div class="col-md-6 col-lg-4 col-xl-3 footer-column js-footer-column">
                    {% block layout_footer_navigation_hotline_headline %}
                        <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                             id="collapseFooterHotlineTitle"
                             data-target="#collapseFooterHotline"
                             aria-expanded="true"
                             aria-controls="collapseFooterHotline">
                            {{ 'dpk.footer.hotline.headline'|trans|sw_sanitize }}
                            {% block layout_footer_navigation_hotline_icons %}
                                <div class="footer-column-toggle">
                                        <span class="footer-plus-icon">
                                            {% sw_icon 'plus' %}
                                        </span>
                                    <span class="footer-minus-icon">
                                            {% sw_icon 'minus' %}
                                        </span>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block layout_footer_navigation_hotline_content %}
                        <div id="collapseFooterHotline"
                             class="footer-column-content collapse js-footer-column-content footer-contact"
                             aria-labelledby="collapseFooterHotlineTitle">
                            <div class="footer-column-content-inner">
                                <a class="footer-contact-phone" href="tel:{{ 'dpk.footer.hotline.number'|trans|sw_sanitize }}">
                                    {{ 'dpk.footer.hotline.number'|trans|sw_sanitize }}
                                </a>
                                <p class="footer-social-media">
                                    <a class="social-media-link" href="{{ 'dpk.social.facebookLink'|trans }}"><img src="{{ asset('bundles/bowdeinepktheme/assets/dpk-svg-icons/Icon-awesome-facebook-f.svg') }}" title="Facebook" class="icon-facebook"></a>
                                    <a class="social-media-link" href="{{ 'dpk.social.instagramLink'|trans }}"><img src="{{ asset('bundles/bowdeinepktheme/assets/dpk-svg-icons/Icon-awesome-instagram.svg') }}" title="Instagram" class="icon-instagram"></a>
                                </p>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {# Footer was moved to base.html.twig #}
{% endblock %}


