{% block layout_footer_bottom %}
    <div class="footer-bottom">
        {% block layout_footer_vat %}
            <div class="footer-vat">
                {% if context.taxState == "gross" %}
                    <p>
                        {{ "footer.includeVat"|trans({
                            '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') })
                        })|raw }}
                    </p>
                {% else %}
                    <p>
                        {{ "footer.excludeVat"|trans({
                            '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') })
                        })|raw }}
                    </p>
                {% endif %}
            </div>
        {% endblock %}

        {% block layout_footer_copyright %}
            <div class="footer-copyright">
                © {{ "dpk.footer.copyrightInfo"|trans|sw_sanitize }} |&nbsp;
                <a href="https://bow-agentur.de">
                    <img src="{{ asset('bundles/bowdeinepktheme/assets/bow-logo.svg') }}"
                         alt="{{ "dpk.footer.bowInfo"|trans|sw_sanitize }}"
                         title="{{ "dpk.footer.bowInfo"|trans|sw_sanitize }}"
                         class="bow-logo" />
                </a>
            </div>
        {% endblock %}
    </div>
{% endblock %}