{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}

{% block page_product_detail_price_inner %}
    {% if page.product.calculatedPrices|length > 1 %}
        {# No need #}
    {% else %}
        {% set price = page.product.calculatedPrice %}

        {% if page.product.calculatedPrices|length == 1 %}
            {% set price = page.product.calculatedPrices.first %}
        {% endif %}

        <meta itemprop="price" content="{{ price.unitPrice }}">

        {% block page_product_detail_price_content %}
            {% set listPrice = page.product.priceRange ? null : price.listPrice %}

            <span class="product__price">
                {{ price.unitPrice|currency }}
            </span>
            <small class="product__tax-info">
                {% if context.taxState == "gross" %}
                    {% set taxText = "general.grossTaxInformation"|trans|sw_sanitize %}
                {% else %}
                    {% set taxText = "general.netTaxInformation"|trans|sw_sanitize %}
                {% endif %}

                {{ taxText }}
            </small>

            {% if listPrice.percentage > 0 %}
                {% block page_product_detail_was_price %}
                    {% block page_product_detail_was_price_badge %}
                        <span class="list-price-badge">&#37;</span>
                    {% endblock %}

                    {% block page_product_detail_was_price_wrapper %}
                    <span class="product-detail-list-price-wrapper">
                        <span class="list-price-price">{{ listPrice.price|currency }}{{ "general.star"|trans|sw_sanitize }}</span>

                        <span class="list-price-percentage">{{ "detail.listPricePercentage"|trans({'%price%': listPrice.percentage })|sw_sanitize }}</span>
                    </span>
                    {% endblock %}
                {% endblock %}
            {% endif %}
        {% endblock %}
    {% endif %}
    {% block page_product_detail_price_unit %}
        {# Moved to custom component 'unit-widget-price.html.twig' #}
    {% endblock %}
{% endblock %}