{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{#  {% block page_product_detail_buy_quantity_container %}
    <div class="col-3">
        <div class="quantity-changer" 
            data-quantity-changer="true" 
            data-quantity-changer-options='{
                "maxQuantity": "{{ product.calculatedMaxPurchase }}"
            }'>
            <input id="itemQuantity" class="js-quantity-changer-input" type="hidden" name="lineItems[{{ product.id }}][quantity]"
                value="{{ product.minPurchase }}">
            <div class="quantity-changer__control changer-minus">
                <div class="js-quantity-changer-decrease">-</div>
            </div>
            <div class="quantity-changer__value js-quantity-changer-value-display">{{ product.minPurchase }}</div>
            <div class="quantity-changer__control changer-plus">
                <div class="js-quantity-changer-increase">+</div>
            </div>
        </div>
    </div>
{% endblock %}
#}

{% block page_product_detail_buy_quantity_container %}
    <div class="col-auto">
        {% block page_product_detail_buy_quantity %}
            <select name="lineItems[{{ product.id }}][quantity]"
                    class="custom-select product-detail-quantity-select">
                {% for quantity in range(product.minPurchase, product.calculatedMaxPurchase, product.purchaseSteps) %}
                    <option value="{{ quantity }}">
                        {{ quantity }}
                        {% if quantity == 1 %}
                            {% if product.translated.packUnit %} {{ product.translated.packUnit }}{% endif %}
                        {% else %}
                            {% if product.translated.packUnitPlural %}
                                {{ product.translated.packUnitPlural }}
                            {% elseif product.translated.packUnit %}
                                {{ product.translated.packUnit }}
                            {% endif %}
                        {% endif %}
                    </option>
                {% endfor %}
            </select>
        {% endblock %}
    </div>
{% endblock %}

{% block page_product_detail_buy_button_container %}
    <div class="col-auto">
        {% block page_product_detail_buy_button %}
        <button class="btn dpk-btn-buy" title="{{ "detail.addProduct"|trans|striptags }}"
            aria-label="{{ "detail.addProduct"|trans|striptags }}">

            <span class="product-cart-icon">
                {% sw_icon 'cart' %}
            </span>
            <span class="cart-btn-text">
                {{ "detail.addProduct"|trans|sw_sanitize }}
            </span>
        </button>
        {% endblock %}
    </div>
{% endblock %}