{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block base_content %}

    {# All variables #}
    {% set mediaItems = page.product.media.media %}

    {% block page_product_detail %}
        <div class="product product_detail" itemscope itemtype="https://schema.org/Product">
            {% block page_product_detail_breadcrumb %}
                {% deprecated '@deprecated tag:v6.4.0 - Breadcrumb will be handled by "base_breadcrumb" in "storefront/base.html.twig"' %}
                <div class="breadcrumb product-breadcrumb">
                    {# @deprecated tag:v6.4.0 parameter `navigationTree`, `categoryTree` and `product` will be removed #}
                    {% sw_include '@Storefront/storefront/component/product/breadcrumb.html.twig' with {
                        context: context,
                        category: page.product.seoCategory,
                        navigationTree: page.header.navigation.tree,
                        categoryTree: page.product.categoryTree|last,
                        product: page.product
                    } only %}
                </div>
            {% endblock %}

            {% block page_product_detail_headline %}
                <div class="product_detail__headline">
                    <div class="container">
                        <h1 class="headline headline--primary" itemprop="name">
                            {{ page.product.translated.name }}
                        </h1>
                    </div>
                </div>
            {% endblock %}
            {% if page.product.customFields.custom_product_info_top_info is not empty %}
            <div class="product_detail__info_top">
                <div class="container">
                    {{ page.product.customFields.custom_product_info_top_info|raw }}
                </div>
            </div>
            {% endif %}
            <div class="product_detail__main">
                <div class="container">
                    <div class="row">
                        <div class="product_detail__media col-lg-7">
                            {% if page.product.media %}
                                {% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                                    'mediaItems': mediaItems,
                                    'zoom': false,
                                    'zoomModal': true,
                                    'displayMode': 'contain',
                                    'gutter': 5,
                                    'navigationArrows': false,
                                    'navigationDots': false,
                                    'galleryPosition': 'underneath',
                                    'isProduct': true,
                                    'fallbackImageTitle': page.product.translated.name,
                                    'startIndexThumbnails': page.product.cover.position + 1,
                                    'startIndexSlider': page.product.cover.position + 1
                                } %}
                            {% endif %}
                        </div>
                        <div class="product_detail__buy js-magnifier-zoom-image-container col-lg-5 offset-xl-1 col-xl-4">
                    
                            {% if page.product.manufacturer %}
                                <meta itemprop="brand" content="{{ page.product.manufacturer.translated.name }}" />
                            {% endif %}
                            {% if page.product.ean %}
                                <meta itemprop="gtin13" content="{{ page.product.ean }}" />
                            {% endif %}
                            <meta itemprop="mpn" content="{{ page.product.productNumber }}" />
                            {% if page.product.weight %}
                                <meta itemprop="weight" content="{{ page.product.weight }} kg" />
                            {% endif %}
                            {% if page.product.height %}
                                <meta itemprop="height" content="{{ page.product.height }} mm" />
                            {% endif %}
                            {% if page.product.width %}
                                <meta itemprop="width" content="{{ page.product.width }} mm" />
                            {% endif %}
                            {% if page.product.length %}
                                <meta itemprop="depth" content="{{ page.product.length }} mm" />
                            {% endif %}
                            <meta itemprop="releaseDate" content="{{ page.product.releaseDate|format_date(pattern="Y-MM-dd", locale=app.request.locale) }}" />

                            <div itemprop="offers" itemscope itemtype="{% if page.product.calculatedPrices|length > 1 %}http://schema.org/AggregateOffer{% else %}http://schema.org/Offer{% endif %}">

                                <div class="product_detail__short-description">
                                    <p>{{ page.product.customFields.custom_short_description_description|raw }}</p>
                                </div>
                                <div class="product_detail__price-container">
                                    <div class="product__price-unit-container">
                                        {% sw_include '@Storefront/storefront/page/product-detail/unit-widget-price.html.twig' %}
                                    </div>
                                    <div class="product__price-container">
                                        {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
                                    </div>
                                </div>
                                <div class="product_detail__delivery-information-container">
                                    {% sw_include '@Storefront/storefront/component/delivery-information.html.twig' %}
                                </div>

                                {#Product review after price#}
                                {% block page_product_detail_reviews %}
                                    {% if page.product.ratingAverage > 0 and page.reviews.totalReviews > 0 and config('core.listing.showReview') %}
                                        <div class="product-detail__reviews">
                                            {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                                                points: page.product.ratingAverage,
                                                style: 'text-primary'
                                            } %}
                                            <a class="product_detail__review-link"
                                               href="?#heading5">
                                                {{ "detail.reviewLinkText"|trans({'%count%': page.reviews.totalReviews})|sw_sanitize }}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endblock %}

                                {# TODO: reviews #}
                                {% if page.product.parentId and page.configuratorSettings|length > 0 %}
                                    <div class="product_detail__configurator-container">
                                        {% sw_include '@Storefront/storefront/page/product-detail/configurator.html.twig' %}
                                    </div>
                                {% endif %}
                                <div class="product_detail__form-container">
                                    {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}
                                </div>
                            </div>
                            {% if config('core.cart.wishlistEnabled') %}
                                {% block page_product_detail_wishlist %}
                                    {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                                        showText: true,
                                        size: 'md',
                                        productId: page.product.id
                                    } %}
                                {% endblock %}
                            {% endif %}
                        </div>


                    </div>
                </div>
            </div>
              <div class="product_detail__aside">
                <div class="container">
                    <div class="row">
                        <div class="product_detail__description col-lg-7">

                            <div class="accordion" id="PDPaccordion">
                                {# DESCRIPTION accordion card #}
                                {% if page.product.translated.description is not empty %}
                                    <div class="card">
                                        <div class="card-header" id="heading1">
                                            <h3>
                                                <button class="btn btn-link"
                                                        type="button"
                                                        data-toggle="collapse"
                                                        data-target="#collapse1"
                                                        aria-expanded="true"
                                                        aria-controls="collapse1">
                                                    {{ "detail.productDetails"|trans|sw_sanitize }}
                                                    <span class="card-content-trigger-icon">
                                                        {% sw_icon 'plus' %}
                                                    </span>
                                                </button>
                                            </h3>
                                        </div>

                                        <div id="collapse1"
                                             class="collapse show"
                                             aria-labelledby="heading1"
                                             data-parent="#PDPaccordion">
                                            <div class="card-body">
                                                {{ page.product.translated.description|raw }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {# Accordion2 card #}
                                {% if page.product.customFields.custom_product_info_accordion2 is not empty %}
                                    <div class="card">
                                    <div class="card-header" id="heading2">
                                        <h3>
                                            <button class="btn btn-link"
                                                    type="button"
                                                    data-toggle="collapse"
                                                    data-target="#collapse2"
                                                    aria-expanded="false"
                                                    aria-controls="collapse2">
                                                {{ "detail.accordion2"|trans|sw_sanitize }}
                                                <span class="card-content-trigger-icon">
                                                        {% sw_icon 'plus' %}
                                                    </span>
                                            </button>
                                        </h3>
                                    </div>

                                    <div id="collapse2"
                                         class="collapse"
                                         aria-labelledby="heading2"
                                         data-parent="#PDPaccordion">
                                        <div class="card-body">
                                            {{ page.product.customFields.custom_product_info_accordion2|raw }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {# Accordion3 card #}
                                {% if page.product.customFields.custom_product_info_accordion3 is not empty %}
                                    <div class="card">
                                    <div class="card-header" id="heading3">
                                        <h3>
                                            <button class="btn btn-link"
                                                    type="button"
                                                    data-toggle="collapse"
                                                    data-target="#collapse3"
                                                    aria-expanded="false"
                                                    aria-controls="collapse3">
                                                {{ "detail.accordion3"|trans|sw_sanitize }}
                                                <span class="card-content-trigger-icon">
                                                        {% sw_icon 'plus' %}
                                                    </span>
                                            </button>
                                        </h3>
                                    </div>

                                    <div id="collapse3"
                                         class="collapse"
                                         aria-labelledby="heading3"
                                         data-parent="#PDPaccordion">
                                        <div class="card-body">
                                            {{ page.product.customFields.custom_product_info_accordion3|raw }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {# Accordion4 card #}
                                {% if page.product.customFields.custom_product_info_accordion4 is not empty %}
                                    <div class="card">
                                        <div class="card-header" id="heading4">
                                            <h3>
                                                <button class="btn btn-link"
                                                        type="button"
                                                        data-toggle="collapse"
                                                        data-target="#collapse4"
                                                        aria-expanded="false"
                                                        aria-controls="collapse4">
                                                    {{ "detail.accordion4"|trans|sw_sanitize }}
                                                    <span class="card-content-trigger-icon">
                                                        {% sw_icon 'plus' %}
                                                    </span>
                                                </button>
                                            </h3>
                                        </div>

                                        <div id="collapse4"
                                             class="collapse"
                                             aria-labelledby="heading4"
                                             data-parent="#PDPaccordion">
                                            <div class="card-body">
                                                {{ page.product.customFields.custom_product_info_accordion4|raw }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {# REVIEW accordion card #}
                                <div class="card">
                                    <div class="card-header" id="heading5">
                                        <h3>
                                            <button class="btn btn-link"
                                                    type="button"
                                                    data-toggle="collapse"
                                                    data-target="#collapse5"
                                                    aria-expanded="true"
                                                    aria-controls="collapse5">
                                                {{ "detail.review"|trans|sw_sanitize }}
                                                <span class="card-content-trigger-icon">
                                                        {% sw_icon 'plus' %}
                                                    </span>
                                            </button>
                                        </h3>
                                    </div>

                                    <div id="collapse5"
                                         class="collapse show"
                                         aria-labelledby="heading5"
                                         data-parent="#PDPaccordion">
                                        <div class="card-body">
                                            {% sw_include '@Storefront/storefront/page/product-detail/review/review.html.twig' with {'reviews': page.reviews} %}
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                        <div class="product_detail__benefits-container col-lg-5 offset-xl-1 col-xl-4">
                            <div class="product_detail__benefits">
                                {% if context.salesChannel.customFields.custom_info_advantages is not empty %}
                                    {{ context.salesChannel.customFields.custom_info_advantages|raw }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% if (page.crossSellings.elements is not empty) %}
            <div class="product_detail__cross-selling">
                <div class="container">
                    {% block page_product_detail_cross_selling %}
                        {% sw_include '@Storefront/storefront/page/product-detail/cross-selling/tabs.html.twig' with {
                            crossSellings: page.crossSellings
                        } only %}
                    {% endblock %}
                </div>
            </div>
            {% endif %}
        </div>
    {% endblock %}


{# {% sw_include '@Storefront/storefront/component/sticky-buttons.html.twig' %} #}
{% endblock %}