{% set referencePriceObj = page.product.calculatedPrice.referencePrice %}
{% set referencePrice = referencePriceObj.price ?: page.product.calculatedPrice.unitPrice %}

{% set purchaseUnit = page.product.purchaseUnit %}
{% set referenceUnit = page.product.referenceUnit %}
{% set unitShortCode = page.product.unit.translation('shortCode') %}

{% if purchaseUnit %}
        <span class="product__price-unit">
            {{ purchaseUnit }} {{ unitShortCode }}
        </span>
        <small class="product__price-unit-info">
            {{ referencePrice|currency }} / {{ referenceUnit }} {{ unitShortCode }}
        </small>
{% endif %}