//=======================================================================//
// Components - Product - Base
//=======================================================================//

.product {

    &_detail__headline h1.headline {
        text-transform: unset;
    }

    &__name {
        color: $dpk-primary;
        display: block;
        a {
            text-decoration: none;
        }
    }

    &__thumbnail {
        text-align: center;
    }

    &__price-unit,
    &__price {
        font-weight: 500;
        display: block;
        line-height: 1;
    }

    &__price-unit {
        font-size: 2rem;
    }

    &__price {
        color: $dpk-primary;
        font-size: 2rem;
        text-align: right;
    }

    &__tax-info,
    &__price-unit-info,
    &__bonus-points-info {
        font-size: 1rem;
        a {
            color: inherit;
        }
    }
    &__price-unit-info{
        //display: none;
    }

    &__price-unit-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__delivery-information {
        a {
            color: inherit;
        }
    }
}