//=======================================================================//
// Component - Product - Configurator
//=======================================================================//

.product_detail {

    &__configurator-container {
        margin-bottom: 40px;
    }

    .configurator {

        &__group-title {
            font-weight: bold;
        }

        &__options {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        &__option {
            display: inline-flex;
            margin-right: 1rem;
        }

        &__option-input:checked {
            + .configurator__option-label {
                border: 3px solid $dpk-primary;
            }
        }

        &__option-label {
            border-radius: 0;
            height: 74px;
            min-width: 74px;
            color: $dpk-primary;
        }
    }
}