//=======================================================================//
// Components - Product - Detail
//=======================================================================//
.gallery-slider-thumbnails.is-underneath{
    display: flex !important;
}
.product_detail {
    &__main{
        .gallery-slider-thumbnails-item-inner{
            border: none;
        }
    }

    &__headline {
        margin-bottom: 2rem;
    }
    &__buy{
        .point-container{
            .icon {
                > svg{
                    top: 2px;
                }
            }
        }
    }

    &__info {
        &_top {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }
    
    &__price-container {
        border-top: 2px solid $dpk-primary;
        border-bottom: 2px solid $dpk-primary;
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
    }

    &__review-link{
        color: $dpk-primary;
        transition: .3s ease-in-out;
        &:hover{
            color: $dpk-secondary;
        }
    }


    &__delivery-information-container {
        padding: 1.9rem 0;
        .product__delivery-information{
            .list_inline{
                list-style: none;
                padding-left: 0;
                .list__item{
                        padding-right: 1.2rem;
                    &:last-child:before {
                        content: "|";
                        padding-right: 1rem;
                    }
                }
            }
        }
    }

    &__form-container {
        margin-bottom: 1rem;
        .buy-widget-container{
            justify-content: space-between;
        }
        .product-detail-quantity-select {
            height: 70%;
            margin-top: 10px;
            width: 75px;
        }
        .dpk-btn-buy {
            width: 100%;
            text-transform: uppercase;
            color: $dpk-primary;
            font-size: 1rem;
            font-weight: 200;
            text-align: right;
            transition: .3s ease-in-out;
            display: flex;

            &:hover{
                color: $dpk-secondary;
                .product-cart-icon{
                    background-color: $dpk-secondary;
                    .icon{
                        width: 35px;
                        height: 35px;
                    }
                }
            }
            .product-cart-icon{
                transition: .3s ease-in-out;
                .icon{
                    transition: .3s ease-in-out;
                }
            }
            .cart-btn-text {
                margin-left: 1rem;
                padding-top: 10px;

            }
        }
    }

    .product-wishlist {
        margin-bottom: 3rem;
        .product-wishlist-action {
            color: $dpk-primary;
            transition: .3s ease-in-out;
            .icon-wishlist {
                color: $dpk-primary;
                transition: .3s ease-in-out;
            }
        }
        &:hover {
            .product-wishlist-action {
                color: $dpk-secondary;
                .icon-wishlist {
                    color: $dpk-secondary;
                }
            }
        }
        .product-wishlist-btn-content {
            text-decoration: none;
            font-size: 1rem !important;
        }
    }

    &__benefits {
        padding-top: 2.8rem;
    }
    .list-dpk {
        &-primary {
            list-style-type: none;
            margin-top: 2rem;
            padding-left: 0;
            li {
                padding-left: 2rem;
                background-image: url("/bundles/bowdeinepktheme/assets/dpk-svg-icons/icon-check-primary.svg");
                margin-bottom: 1.2rem;
                background-repeat: no-repeat;
            }
        }
    }

    &__aside {
        margin-bottom: 50px;
        #PDPaccordion{
            .card{
                &:last-of-type{
                    border-bottom: 2px solid $dpk-primary;
                }
                .card-header{
                    padding: 0;
                    background-color: transparent;
                    border-top: 2px solid $dpk-primary;
                    button{
                        color: $dpk-gray-font;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 0 10px;
                        text-decoration: none;
                        font-size: 1.5rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        transition: .5s;
                        .icon{
                            color: $dpk-gray-font;
                            transition: .5s;
                        }
                        &[aria-expanded="true"]{
                            color: $dpk-primary;
                            .icon{
                                color: $dpk-primary;
                                transform: rotate(-45deg);
                                transform-origin: center center;
                            }
                        }
                    }
                }
                .card-body{
                    margin-bottom: 1rem;
                    button.offcanvas-close{
                        display: none;
                    }
                }
            }
        }
    }
    .product-detail-review-teaser-btn{
        background-color: $dpk-primary;
        color: $dpk-white-font;
        transition: $dpk-transition-speed;
        &:hover{
            background-color: $dpk-secondary;
        }
    }


    &__cross-selling {
        padding: 0;
        .headline {
            color: $dpk-primary;
        }
        .card-body{
            .cms-element-title{
                display: none;
            }
            .bow-action-btn-container{
                margin: 2rem 0;
                text-align: center;
                .cross-selling-action-btn{
                    text-transform: uppercase;
                    padding: 15px 25px;
                    font-size: 1.2rem;
                    border: 2px solid $dpk-primary;
                    color: $dpk-primary;
                    transition: .3s ease-in;
                    &:hover{
                        background-color: $dpk-primary;
                        color: $dpk-white-font;
                        padding: 15px 30px;
                    }
                }
            }

        }
    }

    .list_inline {
        &_secondary {
            display: block;
            .list__item {
                padding-right: 0;
                &:after {
                    border: none;
                }
            }
        }
    }

}

@media screen and (min-width: 420px) {
    .product_detail {
        .list_inline {
            &_secondary {
                display: flex;
                .list__item {
                    padding-right: 1.8rem;
                    &:after {
                        right: .9rem;
                        border-right: 1px solid;
                    }
                    &:last-child {
                        &:after {
                            content: '';
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .product_detail {
    
        &__headline {
            margin-bottom: 3rem;
        }

        &__info {
            &_top {
                font-size: 1.5rem;
            }
        }

        &__form-container {
            .btn_lg {
                font-size: 1.9rem;
            }
        }

        &__aside {
            margin-bottom: 60px;
        }



    }
}

@media screen and (min-width: 992px) {
    .product_detail {
    
        &__form-container {
            margin-bottom: 40px;
        }

        &__aside {
            margin-bottom: 60px;
        }
        &__benefits {
            border-top: 2px solid $dpk-primary;

        }

    }
}

@media screen and (min-width: 1366px) {

    .product_detail {

        &__form-container {
            .dpk-btn-buy{
                font-size: 1.25rem;
                .cart-btn-text {
                    margin-left: .5rem;
                }
            }
            .btn_lg {
                font-size: 2.5rem;
            }
        }

    }
}