//=======================================================================//
// Components - Product - Quantity-Changer  
//=======================================================================//

.quantity-changer {
    border: 3px solid $dpk-primary;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    color: $dpk-primary;
    background-color: rgba($dpk-primary, .2);
    font-size: 1.5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__control {
        text-align: center;
        min-width: 1.65rem;
        cursor: pointer;
    }

}

@media screen and (min-width: 576px) {
    .quantity-changer { 
        font-size: 1.5rem;
        &__control {
            min-width: 3rem;
        }
    }
}

@media screen and (min-width: 769px) {
    .quantity-changer { 

    }
}