//=======================================================================//
// Component - Product - Review
//=======================================================================//

.product_review {
    &__point {
        border-radius: 50%;
        height: 12px;
        width: 12px;
        display: inline-block;
        overflow: hidden;
        &_blank {
            background-color: color('light-background', 'base');
        }
        &_full {
            background-color: color('primary', 'base');
        }
        &_half {
            background-color: color('light-background', 'base');
            span {
                display: block;
                position: relative;
                width: 50%;
                height: 100%;
                background-color: color('primary', 'base');
            }
        }
    }

}

.product-detail-review-form-star.is-active {
    .product_review {
        &__point {
            @extend .product_review__point_full;
        }
    }
}