//=======================================================================//
// Components - Misc - Toggler
//=======================================================================//

// Used in Product-Listing and Content-Pages
//
// https://css-tricks.com/the-checkbox-hack/


.toggler {

  &__item {
    border-top: 2px solid $dpk-primary;
    padding: 0;
    &.is-active-toggle {
      .icon-plus {
        transform: rotate(-45deg);
      }
      .toggler {
        &__title {
          color: $dpk-primary;
        }
        &__content {
          &:before {
            transform: translate3d(0, 1000px, 0);
          }
        }
      }
    }
  }

  &__content {
    max-height: 0px;
    transition: .5s ease-in-out;
    overflow: hidden;
    position: relative;
    &_stands-out {
      max-height: 80px;
      &:before {
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        background-image: linear-gradient(to bottom, transparent, white);
        transition: .5s ease-in-out;
      }
    }
  }

  &__trigger {
    cursor: pointer;
    width: 100%;
    display: flex;
    margin-bottom: 0;
    height: 9rem;
    line-height: 1;
    justify-content: space-between;
    @extend .headline_quaternary;
    .icon-plus {
      font-size: 2rem;
      color: $dpk-gray-font;
      transition: .5s ease-in-out;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    transition: transform .2s ease-in .3s;
    img {
      width: 40px;
      height: 40px;
      border-right: 2px solid $dpk-primary;
      padding-right: 1rem;
      margin-right: 1.3rem;
      box-sizing: content-box;
    }
  }

  &__subscriber {
    display: none;
    &:checked {
      ~ .toggler__content {
        max-height: 2000px;
      }
    }
  }

}

@media screen and (min-width: 575px) {
  .toggler {

    &__item {
      padding: 0 1rem;
    }

    &__content {
      &_stands-out {
        max-height: 100px;
      }
    }

    &__subscriber {
      &:checked {
        ~ .toggler__content {
          max-height: 10000px;
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .toggler {
    &__item {
      padding: 0 3.8rem;
    }
  }
}