{% sw_extends '@Storefront/storefront/component/product/card/badges.html.twig' %}

{% block component_product_badges_discount %}
    {% set price = product.calculatedPrice %}
    {% if product.calculatedPrices.count > 0 %}
        {% set price = product.calculatedPrices.last %}
    {% endif %}

    {% set listPrice = price.listPrice.percentage > 0 %}
    {% set hasRange = product.calculatedPrices.count > 1 %}

    {% if listPrice and not hasRange %}
        <div class="badge badge-danger badge-discount">
            <span>
                {{ 'productBadge.discount'|trans({'%price%': price.listPrice.percentage|round })|sw_sanitize }}
            </span>
        </div>
    {% endif %}
{% endblock %}
