{% sw_extends '@Storefront/storefront/element/cms-element-product-slider.html.twig' %}

{% block element_product_slider %}
    {% if not sliderConfig %}
        {% set sliderConfig = element.fieldConfig.elements %}
    {% endif %}

    <div class="cms-element-{{ element.type }}{% if sliderConfig.displayMode.value == "standard" and sliderConfig.verticalAlign.value %} has-vertical-alignment{% endif %}">
        {% block element_product_slider_alignment %}
        {% if config.verticalAlign.value %}
        <div
            class="cms-element-alignment{% if sliderConfig.verticalAlign.value == "center" %} align-self-center{% elseif sliderConfig.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
            {% endif %}

            {% set productSliderOptions = {
                productboxMinWidth: '320',
                slider: {
                    gutter: 20,
                    autoplayButtonOutput: false,
                    nav: false,
                    items: 1,
                    loop: true,
                    startIndex: 1,
                    slideBy: 1,
                    mouseDrag: true,
                    autoplay: false,
                    lazyload: true,
                    lazyloadSelector: '.tns-lazy-img',
                    controls: true,
                    responsive: {
                        576: {
                            gutter: 100
                        },
                        768: {
                            gutter: 20
                        },
                        1400: {
                            items: 1
                        },
                    }
                }
            } %}

            {% if not sliderConfig.navigation.value %}
                {% set productSliderOptions = productSliderOptions|replace_recursive({
                    slider: {
                        mouseDrag: true
                    }
                }) %}
            {% endif %}

            {% block element_product_slider_slider %}
            <div class="base-slider product-slider{% if sliderConfig.border.value %} has-border{% endif %}{% if sliderConfig.navigation.value %} has-nav{% endif %}"
                data-product-slider="true" data-product-slider-options="{{ productSliderOptions|json_encode }}">

                {% block element_product_slider_title %}
                {% endblock %}

                {% block element_product_slider_inner %}
                {% block element_product_slider_element %}
                <div class="product-slider__container product-slider-container" data-product-slider-container="true">
                    {% for product in element.data.products.elements %}
                    {% block element_product_slider_inner_item %}
                    <div class="product-slider-item">
                        {% sw_include '@Storefront/storefront/component/product/card/cross-selling-box-standard.html.twig' with {
                            'displayMode': sliderConfig.displayMode.value
                        } %}
                    </div>
                    {% endblock %}
                    {% endfor %}
                </div>
                {% endblock %}

                {% block element_product_slider_controls %}
                {% if sliderConfig.navigation.value %}
                <div class="product-slider-controls-container">
                    <div class="base-slider-controls" data-product-slider-controls="true">
                        {% block element_product_slider_controls_items %}
                        <button
                            class="base-slider-controls-prev product-slider-controls-prev{% if sliderConfig.border.value %} has-border{% endif %}">
                            {% block element_product_slider_controls_items_prev_icon %}
                            {% sw_icon 'arrow-head-left' %}
                            {% endblock %}
                        </button>
                        <button
                            class="base-slider-controls-next product-slider-controls-next{% if sliderConfig.border.value %} has-border{% endif %}">
                            {% block element_product_slider_controls_items_next_icon %}
                            {% sw_icon 'arrow-head-right' %}
                            {% endblock %}
                        </button>
                        {% endblock %}
                    </div>
                </div>
                {% endif %}
                {% endblock %}
                {% endblock %}
            </div>
            {% endblock %}
            {% if config.verticalAlign.value %}
        </div>
        {% endif %}
        {% endblock %}
    </div>
{% endblock %}