body {
    line-height: 1.8;
}
.bow-text-white {
    color: $dpk-white-font;
}
.headline--primary--larger {
    color: $dpk-primary;
    font-size: 3rem;
}
.headline--secondary--larger {
    color: $dpk-secondary;
    font-size: 3rem;
}

.bow-font-allison {
    font-family: 'Allison', cursive;
    font-weight: lighter;
}
h1, h2, h3 {
    line-height: 1.2;
}

p {
    font-size: 1rem;
}

.color--primary,
.headline--primary {
    color: $dpk-primary;
}

.color--secondary,
.headline--secondary {
    color: $dpk-secondary;
}

h1, h2, h3, h4, h5 {
    &.bow-light-header {
        color: $dpk-secondary !important;
        margin-left: 16px;
        font-size: 2.2rem;
        font-weight: 200;
        line-height: 1.2;
        text-align: center;
        width: 60%;
    }
}

@media screen and (min-height: 735px) and (max-height: 799px) and (max-width: 1080px) {
    h1, h2, h3, h4, h5 {
        &.bow-light-header {
            font-size: 3rem;
            width: 100%;
        }
    }
}


@media screen and (min-height: 800px) and (max-width: 1080px) {
    h1, h2, h3, h4, h5 {
        &.bow-light-header {
            font-size: 3.8rem;
        }
    }
}

@media screen and (min-width: 1081px) {
    h1, h2, h3, h4, h5 {
        &.bow-light-header {
            font-size: 7rem;
        }
    }
}
