.container {
    padding: 0;
    max-width: 1600px;
}

.container-main {
    padding: 40px 0;
}
.container-md{
	max-width: 1400px;
	margin: auto;
}
.container-lg {
	max-width: 1600px;
	margin: auto;
}

.is-act-home .container-main,
.is-ctl-navigation .container-main,
.is-ctl-product .container-main {
    padding-top: 0;
}

.container .boxed, 
.cms-section .boxed {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (min-width: 768px) {
	.container .boxed, 
	.cms-section .boxed {
		padding-right: 20px;
		padding-left: 20px;
	}
	.container-lg {
		padding: 20px;
	}
}