/*
Cookie permission
==============================================
Shows a cookie permission alert at the bottom of the page.
*/

.cookie-permission-container {
    bottom: auto;
    top: 0;
    background-color: $dpk-light-gray;
    box-shadow: 1px 1px 12px rgba(0,0,0, .4);
}
