.footer-main {
    background-color: $dpk-primary-lighter;
    border-top: none;
  .footer-payment-logos-container,
  .footer-shipping-logos-container {
    display: flex;
    height: auto;
    flex-wrap: wrap;

  }
}

  .footer-columns {
    border: none;
    margin: 0;
  }


  .footer-bottom {
    padding-bottom: 0;
    padding-top: 0;
    .footer-service-menu-list {
      display: none;
    }
    .footer-copyright {
      margin-left: -1rem;
      margin-right: -1rem;
      color: $dpk-white-font;
      background-color: $dpk-secondary;
      padding: .5rem;

      .bow-logo {
        height: 1em;
        padding-bottom: 3px;
      }
    }
  }
.footer-column-headline.footer-headline {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}
.footer-payment-logos-title,
.footer-shipping-logos-title{
  font-size: 1.3rem;
  color: $dpk-primary;
}

.footer-contact-phone {
  color: $dpk-secondary;
  font-size: 1.5rem;
  font-weight: normal;
}
.footer-social-media {
  margin-top: 1rem;

  .social-media-link {
    margin-right: 1.5rem;

    img {
      height: 30px;
    }
  }
}

.is-payment .footer-logo-image {
  height: 40px;
  width: 100%;
}

.footer-logo-image {
  max-height: 64px;
  max-width: 64px;
}

@media screen and (min-width: 768px) {

    .footer-column-headline.footer-headline {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 600;
      color: black;
    }

    .footer-contact-phone {
      font-size: 2rem;
    }
  .footer-social-media {
    .social-media-link {
      img {
        height: 35px;
      }
    }
  }
}