// LOGO
img.img-fluid.header-logo-main-img {
  height: 4.375rem;
  transition: height 0.3s;
}

// SHOPPINGLIST ICON
.icon-shoppinglist {
}

// USER ICON & HEART ICON
span.iconset-dpk.icon-user,
span.iconset-dpk.icon-heart {
   // margin-top: 9px;
}

// HEADER

.header-search {
  min-width: 60px;
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-controls-item {
  position: relative;
  .icon {
    color: $dpk-dark-font;
  }
  .account-menu{
    .btn{
      padding: 2px 4px 2px 16px;
    }
  }
  .header-cart{
    .header-cart-icon{
      height: 30px;
      width: 30px;
    }
  }
  .header-currency{
    margin-right: 10px;
    .currency-form{
      .dropdown-toggle.btn{
        color: $dpk-secondary;
      }
      .dropdown-menu{
        min-width: auto;
        transform: translate3d(-27px, 34px, 0px) !important;
      }
    }
  }
}

.header-main {
  position: fixed;
  background-color: transparent;
  height: 100px;
  top: 0;
  left: 0;
  width: 100vw;
  box-shadow: none;
  z-index: 750;

  .bow--contact {
    background-color: $dpk-secondary;
    color: $dpk-white-font;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: left $dpk-transition-speed;
    padding: 0;

    a {
      font-size: .8rem;
    }

    .bow--contact-item {
      display: inline-block;
      width: 23%;
      text-align: center;
      border-right: 1px solid $dpk-white-font;
      margin-right: 0;
      padding: 3px 0;
      font-size: 0.8rem;
      font-weight: 600;
      height: 25px;

      a {
        color: $dpk-white-font;
        transition: 0.3s ease-in-out;

        &:hover {
          color: $dpk-primary;
        }
      }

      &:last-child {
        width: 29%;
        border-right: none;

        .icon-phone {
          margin-left: 1rem;
        }
      }
    }
  }

  .header-wishlist {
    .wishlist-count {
      margin-top: -3px;
    }
  }

  .header-logo-col {
    transition: all 0.3s;
  }
}

// TOPBAR
.top-bar {
  display: none;
  height: 0;
}

// SEARCH - DESKTOP
#searchCollapse .header-search {
  .input-group {
    margin: auto 20px;
    border-bottom: 1px solid $dpk-dark-font;
    input {
      padding-left: 0;
      &.form-control{
        color: $dpk-secondary;
        background-color: transparent;
        padding-bottom: 0;

      }
    }
  }
  .search-suggest.js-search-result{
    color: $dpk-gray-font;
  }

  button.btn.header-search-btn {
    padding-right: 0;
    background-color: transparent;
    .icon-search{
      color: $dpk-dark-font;
      width: 17px;
      height: 17px;
    }
  }

  input, button {
    border: none;
  }
}

.header-search-col {
  margin-bottom: 1rem;
}

.header-controls-item:first-child{
  margin-left: 1rem;
}

.header-wishlist-btn {
  .badge-primary {
    color: $dpk-primary;
    border: 1px solid $dpk-primary;
    font-size: 0.75rem;
    transition: 0.3s ease-in-out;
  }
}

// CART BUTTON HEADER - DESKTOP
.header-cart {

  .header-cart-total {
    display: none; // never: show price
  }
  .header-cart-icon {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dpk-primary;
    transition: 0.3s ease-in-out;
    .icon{
      height: 17px;
      width: 17px;
      transition: 0.3s ease-in-out;
    }
  }
  .badge-primary {
    color: $dpk-primary;
    border: 1px solid $dpk-primary;
    font-size: 0.75rem;
    transition: 0.3s ease-in-out;
  }
  &:hover {
    .header-cart-icon {
      background-color: $dpk-secondary;
      .icon {
        height: 20px;
        width: 20px;
      }
    }
    .badge-primary {
      color: $dpk-secondary;
      border: 1px solid $dpk-secondary;
    }
  }

  &.is-disabled {
    pointer-events: none;
    .header-cart-icon {
      background-color: $dpk-primary-softer;
    }
  }
}

.header-controls-item{
  span.iconset-dpk.icon-user:before{
    font-size: 17px;
  }
  .header-faq{
    a{
      img{
        height: 17px;
      }
    }
  }
}

// HEADER-MINIMAL
.header-minimal{
  background-color: $dpk-nav-bg;
  color: $dpk-secondary;
  &.fixed-top{
    position: fixed;
  }
  .header-minimal-back-to-shop-button{
    color: $dpk-secondary;
    transition: .3s ease-in-out;
    &:hover{
      color: $dpk-nav-bg;
    }
  }
}

// mobile landscape
@media screen and (min-width: 576px) {
    .header-cart-badge {
      display: block;
    }
}

// tablet landscape
@media screen and (min-width: 1366px) {

  .nav-main-toggle{
    display: none;
  }
    .bow--search-mobil {
      order: 1;
      width: auto;
    }
    .header-controls {
      order: 2;
      width: auto;
    }

    .header-search {
      float: right;
      margin-right: 20px;
    }

    // LOGO
    img.img-fluid.header-logo-main-img {
      height: 100%;
      max-height: 60px;
    }

    // LOGO HEADER
    .header-logo-main {
      text-align: left;
      height: 100%;
    }

    .header-logo-col {
      padding-left: 0;
      padding-bottom: 0;
      padding-top: 25px;

      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }

    .header-search-col {
      margin-bottom: 0;
    }

    .header-main {

      .bow--contact {
        display: block;
      }

      .header-row {
        padding-bottom: 0;
        height: 100px;
        transition: $dpk-transition-speed;
        position: relative;
        z-index: 10;
        background-color: $dpk-nav-bg;
        color: $dpk-white-font;
        flex-wrap: nowrap !important;
      }

      .header-row{
        padding: 0 20px;
        margin-top: 30px;
      }

      .nav-main {
        padding: 0;
        margin-top: 30px;
      }



    }

    // HEADER ACTIONS - DESKTOP

    .header-actions-col.header-search-col {
      margin-top: 10px;
      transition: $dpk-transition-speed;
      padding-left: 0;
      padding-right: 0;
    }

}

@media screen and (max-width: 1365px) {
  .header-row {
    background-color: $dpk-nav-bg;
  }
  .header-search{
    max-width: 450px;
  }
  img.img-fluid.header-logo-main-img {
    max-height: 60px;
  }
}
@media screen and (max-width: 770px) {

  .header-search{
    max-width: 250px;
  }
}
@media screen and (max-width: 575px) {
    .bow--search-mobil {
      order: 13;
      flex: 1 1 auto;
    }
}
