body.is-ctl-navigation.is-act-index,
body.is-ctl-product.is-act-index {
    .cms-block-sidebar-filter{
        display: none;
    }
    .pagination {
        .page-link {
            background-color: $dpk-nav-bg;
        }
    }
    // product listing container

    // category banner

    .bow--dpk-list-heading {
        height: 21.25rem;
        margin-bottom: 3rem;
        position: relative;

        .cms-section-default {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0;
        }

        .cms-block-image-cover {
            position: absolute;
            width: 100%;
            z-index: -1;
        }


        .cms-block.cms-block-image {
            width: 33.3333%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: $dpk-primary-transparent;
            .cms-block-container {
                max-width: 10rem;
            }
        }

        .cms-block.cms-block-text {
            width: 66.6666%;
        }

    }


    // product box
    .card.product-box {
        border: none;
        border-radius: 0;
        position: relative;
        padding: 1rem;
        transition: .3s ease-in;
        &:hover {
            background-color: $dpk-primary-soft;
            /*.product-badges {
                .badge{
                    background-color: $dpk-secondary;
                }
            }*/
        }
        .product-wishlist {
            .product-wishlist-action-circle {
                background-color: $dpk-primary-soft;
                .icon-wishlist {
                    color: $dpk-primary;
                }
            }
        }

        .product-name {
            //background-color: $dpk-primary;
            position: relative;
            padding: 0;
            margin: 0;
            height: 3em;

            line-height: 1.6;
            font-weight: normal;
            color: $dpk-gray-font;

            transition: .3s ease-in;

            &:hover {
                color: $dpk-secondary;
            }

            .product-name-has-no-variants {
                font-weight: bold;
                font-size: 1.6rem;
            }
        }
        .icon-pfeil {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);            
        }
        .listing-card-product-review {
            display: flex;
            .product-rating {
                margin-bottom: 5px;
                margin-top: 10px;
                height: 15px;
            }
        }
        .dpk-price-action-list {
            display: flex;
            justify-content: space-between;
            //align-items: last baseline;
            height: auto;
            //margin: 16px 0;

            .list-inline-item {
                display: flex;
                &:last-child {
                    justify-content: center;
                    .btn-light {
                        color: $dpk-white-font;
                        background-color: $dpk-primary;
                        transition: .3s ease-in-out;
                        &:hover {
                            background-color: $dpk-secondary;
                        }
                    }
                }
            }
            .product-listing-tax-info {
                margin-bottom: 0;
            }

            .product-action {
                margin-top: 10px;
            }
        }
        .dpk-btn-buy{
            img{
                height: 60px;
                margin-bottom: 10px;
            }
            .product-cart-icon {
                transition: .3s ease-in-out;
            }
            &:hover {
                .product-cart-icon {
                    background-color: $dpk-secondary;
                }
            }
        }
        .product-price {
            color: $dpk-primary;
            font-size: 1.2rem;
            font-weight: 500;
            transition: .3s;
            &.with-list-price {
                color: $dpk-discount-color !important;
            }
            .list-price {
                text-decoration: line-through;
            }
        }

        .product-badges {
            .badge{
                transition: .3s;
            }
        }
        .card-body {
            padding: 0;
        }

        .product-description {
            height: 72px;
            line-height: 1.8;
        }
        // hide all unnecessary info
        .product-image-wrapper,
        .product-price-info,
        .product-action,
        .product-rating,
        .product-badges,
        .product-description {
            //display: none;
        }
    }

    // pagination
    .page-link {
        background-color: $dpk-primary;
        border: none;
        border-radius: 0;
        z-index: 0;
    }
    .page-item {
        &.active .page-link {
            background-color: $dpk-primary;
        }
        &.disabled .page-link {
            background-color: #eee;
        }
    }

    select.sorting.custom-select {
        background-color: #eee;
        border: none;
        border-radius: 0;
    }

    // listing description
    .cms-section-sidebar-main-content .cms-element-text {
        font-size: 1rem;
    }


    @media screen and (min-width: 768px) {
            // product box
        .card.product-box.box-minimal,
        .card.product-box.box-standard {
            .product-name {
                padding: 0;
            }
        }
    }

}

// Product box adjustments
.card.product-box.box-standard, .card.product-box.box-minimal {
    .product-image-wrapper {
        height: 300px;
    }

    .product-image {
        max-height: 300px;
    }
}


@media screen and (min-width: 478px) {
    body.is-ctl-navigation.is-act-index{

    }
}
