.bow-h-500 {
  height: 500px;
}
.bow-h-600 {
  height: 600px;
}
.bow-h-700 {
  height: 700px;
}
.bow-h-800 {
  height: 800px;
}
.bow-h-auto {
  height: auto !important;
  margin-bottom: 3rem;
}

.is-act-index,
.is-act-search {
  .content-main {
    margin-top: 120px;
    padding: 2rem 4rem;
    /*.product_detail{
      padding: 10px 40px;
    }*/
  }
}

.is-act-checkoutregisterpage,
.is-act-loginpage,
.is-ctl-checkout {
  .content-main {
    padding: 2rem 4rem;
    margin-top: 64px;
  }
}

.filter-panel{
  display: none;
}

.container-main.bow-seo{
  padding: 10px 20px;
  min-height: auto;
  .bow-category-seo{
    border-top: 2px solid $dpk-secondary;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .is-act-index,
  .is-act-search {
    .content-main {
      margin-top: 140px;
    }
  }
}
.is-act-checkoutregisterpage,
.is-act-loginpage,
.is-ctl-checkout {
  .content-main {
    padding: 2rem 2rem;
    margin-top: 100px;
  }
}

a{
  text-decoration: none !important;
}

.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.bow--text-align-center {
  text-align: center;
}

.bow--text-align-right {
  text-align: right;
}

.bow--dpk-primary-bg {
  background-color: white;
}

.bow--dpk-primary-cl {
  color: $dpk-primary;
}
.bow--dpk-primary-cl {
  color: $dpk-secondary;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

// bread crumb
.breadcrumb.cms-breadcrumb.cms-breadcrump.container {
  //display: none;
}

// sidebar
.cms-section-sidebar-sidebar-content.col-lg-4.col-xl-3 {
  margin-top: .375rem;
}

ul.category-navigation.level-1 {

  & > li.category-navigation-entry {
    border-bottom: 1px solid $dpk-primary;
    position: relative;
    .icon-pfeil {
      position: absolute;
      left: .25rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  padding-left: 0;
  .category-navigation-link {

    position: relative;
    padding-left: 2rem;
    text-transform: uppercase;

  }
}

.bow--sidebar-border-bottom {
  border-bottom: 1px solid $dpk-primary;
}

ul.category-navigation.level-1 .category-navigation-entry:last-child {
  border: none !important;
}

ul.category-navigation.level-0 {
  border-top: 1px solid $dpk-gray-font;
}

.category-navigation.level-0 > .category-navigation-entry {
  border-bottom: 1px solid $dpk-gray-font;
}

ul.category-navigation.level-0 > li.category-navigation-entry {
  & > .category-navigation-link {
    padding-left: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
}

// Logo-Icon

.bow--dpk-product-detail-cross-selling,
.bow--dpk-homepage--sale,
.bow--dpk-homepage--trusts,
.bow--dpk-homepage--contact {
  div,
  .cms-block.pos-0.cms-block-text,
  .cms-block.pos-0.cms-block-text-teaser-section {
    h2:before {
      content: "";
      background-image: url('#{$dpk-assets-path}images/logo_icon.png');
      padding: 0 14px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 6px;
    }
  }
}

.is-act-checkoutregisterpage .checkout {
  padding-top: unset;
}

.is-ctl-checkout .content-main {
  margin-top: 160px;
}



@media screen and (max-width: 575px) {
  .is-act-index,
  .is-ctl-accountprofile,
  .is-ctl-address,
  .is-ctl-accountpayment,
  .is-ctl-accountorder,
  .is-act-search {
    .content-main {
      margin-top: 160px;
      padding: 0 20px;
    }
  }

  .is-ctl-accountprofile,
  .is-ctl-address,
  .is-ctl-accountpayment,
  .is-ctl-accountorder {
    .container-main {
      padding: 10px 0 40px;
    }
  }

  .is-ctl-checkout {
    &.is-act-cartpage {
      .content-main {
        margin-top: 80px;
        padding: 0 20px;
      }
    }

    .content-main {
      margin-top: unset;
      padding: 0 20px;
    }

    .checkout {
      padding-top: 48px;
    }
  }


  .is-act-checkoutregisterpage {
    .content-main {
      padding: 0 20px;
      margin-top: 48px;
    }
  }

  .is-act-loginpage .content-main {
    margin-top: 120px;
  }
}

@media screen and (min-width: 1440px) {
  body:not(.is-act-home) {
    .content-main {
      margin-top: 120px;
    }
  }

  body.is-ctl-checkout .content-main {
    margin-top: 64px;
  }
  body.is-act-confirmpage .content-main {
    margin-top: 0;
    padding: unset;
  }

  .is-ctl-accountprofile {
    .content-main {
      padding: unset;
    }
  }
}