

  // TABLET LANDSCAPE
  @media screen and (min-width: 1366px) {

    .main-navigation {
      position: relative;
      background: transparent;
      z-index: 0;
      max-width: 1400px;
      margin: auto;
      & > .container {
        position: relative;
        z-index: 800;
        background: transparent;
      }
    }

    .main-navigation-link .main-navigation-link-text {
      padding-bottom: 1rem;
      padding-top: .5rem;
      text-transform: uppercase;
      border: none;
      color: $dpk-dark-font;
      font-size: .75rem;
      font-weight: 500;
      transition: $dpk-transition-speed ease-in-out;
      &:hover{
        color: $dpk-primary;
      }
    }

    // HIDE HOME BUTTON
    a.nav-link.main-navigation-link.home-link {
      display: none;
    }

    // REMOVE PADDING RIGHT FROM LAST NAV LINK
    a.nav-link.main-navigation-link:last-child {
      padding-right: 0;
    }

    a.nav-link.main-navigation-link.active {
      color: $dpk-primary;
    }

    .main-navigation-link {
      padding-bottom: 0;
      padding-right: 1rem !important;
      font-weight: normal;
    }


    // FLYOUT MENU
    .navigation-flyout.is-open{
      position: fixed;
      top: 100px;
      left: 0;
      background-color: $dpk-nav-bg;
      box-shadow: none;
      border-top: 1px solid $dpk-primary;
      border-bottom: 1px solid $dpk-primary;
      transition: all .3s ease-in-out;

      .navigation-flyout-bar {
        display: none;
      }
      .navigation-flyout-content  {
        padding: 10px;
        //margin-left: 175px;

        .navigation-flyout-categories {
          display: flex;
          justify-content: flex-start;
          margin-right: 0.5%;
          .col-4 {
            border-left: 1px solid $dpk-secondary;
          }
          .navigation-flyout-col {
            margin: 1rem 0;
            &::before{
              border-left: none;
            }

            .navigation-flyout-link {
              font-weight: 400;
              font-size: 1em;
              color: $dpk-secondary;
              padding: .25rem 0 0;
              margin: 0;
              &:hover{
                color: $dpk-primary;
              }
            }
          }
          &.is-level-1{
            display: inherit;
            margin-left: 0;
            margin-right: 0;
            .navigation-flyout-col {
              margin-bottom: 4px;
              line-height: 1.2;
              font-size: .8rem;
              .navigation-flyout-link {
                color: $dpk-primary;
                transition: .3s;
                &::before {
                  content: ">";
                  font-size: 1rem;
                  padding-right: 5px;
                  line-height: 0;
                }
                &:hover{
                  color: $dpk-secondary;
                }
              }
            }
          }
        }
      }

    }
  }
  .navigation-flyout-teaser-image {
    object-fit: contain;
    font-family: "object-fit: contain;";
  }

  @media screen and (max-width: 1365px) {
    .main-navigation {
      display: none;
    }
    #currenciesDropdown-offcanvas {
      display: none;
    }
  }


    /*.navigation-flyouts {
      top: 57px;
      width: 100%;
      transform: translateX(-50%);
      left: 50%;

      .navigation-flyout-categories:not(.is-level-0) {
        margin-left: 0;
      }

      .navigation-flyout {
        background-color: rgba(#F5F5F5, .9);

        // new default values when closed: slide down instead of appear/disappear
        opacity: 0;
        height: auto;
        transform: translateY(-30%);
        box-shadow: 0 0 0;
        transition: 0.3s;
        transition-delay: 0.1s;


        &.is-open {
          transform: translateY(0%);
          opacity: 1;

        }

        .icon-pfeil {
          &:before {
            padding-right: 1rem;
          }
        }
      }

      .navigation-flyout-bar {
        display: none;
      }

      .navigation-flyout-content {
        padding-top: 2rem;
        padding-bottom: 1.25rem;
      }
    }

    .navigation-flyout-categories.is-level-0 {
      align-items: center;

      &> .navigation-flyout-col {
        margin-bottom: 0;

        &::before {
          content: none;
        }
        a.nav-item.nav-link.navigation-flyout-link.is-level-0 {
          font-weight: 400;
          text-transform: uppercase;
          padding: .5rem 0;
          display: flex;
          border-bottom: 1px solid white;
        }
      }
    }
    .bow--is-sticky {
      .navigation-flyouts {
        top: 38px;
      }
    }
  }*/
