.is-act-home{
  .breadcrumb{
    display: none;
  }
}
.is-ctl-product{
  .breadcrumb{
    margin-left: 0;
  }
}
.breadcrumb{
  padding: 0;
  margin-left: 40px;
  .breadcrumb-container, .breadcrumb-item{
    display: inline-block !important;
    color: $dpk-secondary;
    font-size: 1.4rem;
    margin-right: 5px;
    letter-spacing: 1px;
    a{
      color: $dpk-secondary;
      font-size: 1.4rem;
      margin-right: 3px;
      font-weight: 700;
      transition: .3s color ease-in;
      &:hover{
        color: $dpk-primary;
      }
    }
    &:after{
      content: ">";
    }
    &:last-child:after{
      content: "";
    }
  }
}
@media screen and (max-width: 991px) {
  .breadcrumb {
    margin-left: 20px;
  }
}