.btn {
    border-radius: 0;
    border: none;
}

.btn-secondary{
    color: $dpk-secondary;
    border: 1px solid $dpk-secondary;
    background-color: transparent;
    text-transform: uppercase;
    padding: 5px 25px;
    font-weight: 200;
    transition: all .3s ease-out;
    &:hover{
        color: $dpk-white-font;
        border: 1px solid $dpk-primary;
        background-color: $dpk-primary;
        padding: 5px 30px;
    }
}
.btn-light {
    color: $dpk-white-font;
    background-color: $dpk-primary;
    transition: .3s ease-in-out;
    &:hover {
        background-color: $dpk-secondary;
        color: $dpk-white-font;
    }
}
.btn-wishlist,
.btn-shoppinglist {
    background-color: rgba($dpk-primary, .2);
    padding: 1rem 1.3rem;
    width: 70px;
    height: 70px;
    line-height: 2.5;
    svg {
        fill: $dpk-primary;
        width: 28px;
    }
    &:hover {
        background-color: rgba($dpk-primary, .4);
    }
}

.btn-shoppinglist {
    svg {
        stroke: $dpk-primary;
    }
}

.btn-buy {
    width: 100%;
    height: 70px;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: normal;
    font-size: 1.2rem;
    padding: 1rem;
    .icon {
        margin-right: .5rem;
        position: relative;
        top: -.16rem;
    }
}

.input-group-append .btn-secondary {
    padding: 2px 12px;
}