.cms-element-text {
    ol li {
        font-size: 1.2em;
        padding-bottom: 8px;
    }
}

.cms-element-bow-linked-box-container .cms-element-bow-linked-box {
    background: $dpk-primary;
    color: #fff;

    h3 {
        color: #fff;
    }
}
