.bow--contact {
    &-item {
        margin-right: 1.2rem;
    }
    .iconset-dpk {
        margin-right: .4rem;
        font-size: .9rem;
    }
    .iconset-dpk::before {
        color: $dpk-gray-font;
    }
    a {
        color: $dpk-gray-font;
        font-size: .9rem;
    }
}