.product-cart-icon{
    background-color: $dpk-primary;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 55px;
    .icon{
        height: 30px;
        width: 30px;
    }
}

.icon-search {
    color: $dpk-primary;
}

.icon-shoppinglist {
    svg {
        width: 28px;
        height: 28px;
        stroke: $dpk-primary;
    }
}

.icon-cart {
    margin-top: -11px;
    margin-left: -1px;
    svg {
        color: white;
    }
}

// USER ICON & HEART ICON
span.iconset-dpk.icon-user,
span.iconset-dpk.icon-heart {
    display: block;
    &:before {
        font-size: 20px;
    }
}

.scroll-up-button {
    .btn-primary {
        .icon {
            color: white;
        }
    }
}

