.bow-footer-newsletter{
  margin: 0;
  padding: 0;
  height: 500px;
  .newsletter-box{
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 0;
    .newsletter-box-overlay{
      display: flex;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,.2);
    }
  }
  .newsletter-registration-box{
    color: $dpk-white-font;
    text-align: center;
    margin-left: 50%;
    .newsletter-box-headline{
      text-transform: uppercase;
      font-size: 1.8rem;
      line-height: 2.5;
      font-weight: 200;
      margin-top: 6rem;

    }
    .newsletter-box-content{
      font-size: 1rem;
      padding: 2rem;
      margin-bottom: 1rem;

    }

  }

}

@media screen and (max-width: 1023px) {
  .bow-footer-newsletter{
    .newsletter-registration-box{
      margin-left: 0;

    }
  }
}

@media screen and (max-width: 475px) {
  .bow-footer-newsletter{
    .newsletter-registration-box{
      .newsletter-box-headline{
        margin-top: 3rem;

      }
    }
  }
}
