.has--sidebar{
  .category-navigation{
    .level-1{
      .category-navigation-link{
        &:before{
          content: ">";
          color: $dpk-secondary;
          font-size: 1.5rem;
          padding-right: 5px;
          line-height: 0;
        }
        &.is-active:before{
          color: currentColor;
        }
      }
      .level-2 {
        .category-navigation-link {
          &:before {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}