.is-act-home {

  .container-main {
    padding-bottom: 0;
  }

  // Banner Section
  .bow--dpk-homepage--banner {
    height: 100vh;
    position: relative;
    &:before {
      content: "";
      background-color: rgba(0,0,0, .35);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }


    // main heading
    .cms-block.cms-block-text-teaser {
      height: 50vh;
      .bow--dpk-homepage--headline {
        margin-top: 12rem;
        text-align: center;
        h1 {
          font-size: 2.8rem;
          font-weight: 200;
          color: $dpk-white-font;
        }
      }
    }

    // call-to-actions
    .cms-block.cms-block-image-text-row {
      height: 50vh;
      display: flex;
      align-items: flex-end;

      .col-md-4 {
        display: flex;
        align-items: center;
        height: 5rem;
        transition: $dpk-transition-speed;
        margin: 0 auto;
        max-width: 520px;
        margin-bottom: .5rem;

        &:last-child {
          margin-bottom: 0;
        }

        &> div {
          display: flex;
          align-items: center;
          height: 100%;
          background-color: $dpk-primary;
          transition: $dpk-transition-speed;

          &:first-child {
            width: 25%;
          }

          &:last-child {
            width: 75%;

            div {
              margin-right: 16px;
            }
          }
        }

      }
      h3 {
        color: $dpk-white-font;
        margin-bottom: 0;
        transition: $dpk-transition-speed;
      }
      p {
        color: $dpk-white-font;
        height: 0;
        margin: 0;
        overflow: hidden;
        transition: $dpk-transition-speed;
        opacity: 0;
      }

      .cms-element-image {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: center;
      }
      .cms-image {
        width: 3rem;
        transition: $dpk-transition-speed;
      }
      .cms-element-text{
        padding-top: 0px;
      }

      .cms-block-container-row {
        align-items: flex-end;
      }
    }

  }

  // Sale Section
  .bow--dpk-homepage--sale {

    margin-top: 5rem;
    .cms-block-text-on-image {
      position: relative;
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.06)
      }
    }

    .cms-block.bg-image.cms-block-text-on-image {
      margin: 0 1.25rem;
    }

    a.btn.btn-primary {
      text-transform: uppercase;
      font-weight: normal;
      padding: 1rem 1.4rem;
      margin-top: 3rem;
    }
  }

  // Trust Section
  .bow--dpk-homepage--trusts {
    margin-top: 5rem;
    margin-bottom: 5rem;

    h3 {
      color: $dpk-primary;
      padding-left: 2.25rem;
      position: relative;
      .iconset-dpk {
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }

    p {
      padding-left: 2.25rem;
    }
  }

  // Contact Section
  .bow--dpk-homepage--contact {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 2rem;
    max-height: 680px !important;
    .cms-element-text {
      padding: 0;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $dpk-primary;
    }

    h3 a { // telephone number
      font-size: 2rem;
    }

    h3, p {
      margin-left: 2.25rem;
    }

    a.btn.btn-primary {
      background-color: $dpk-primary;
      margin-left: 2.25rem;
    }

    h2 {
      color: $dpk-primary;
    }
  }
}

@media screen and (min-width: 478px) {
    .cms-block.cms-block-image-text-row {
      .col-md-4 {
        margin-bottom: 0;
      }
    }
}

@media screen and (min-width: 768px) and (min-height: 768px) {

  .is-act-home {
    // Banner Section
    .bow--dpk-homepage--banner {

      position: relative;
      &:before {
        content: "";
        background-color: rgba(0,0,0, .35);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      // main heading
      .cms-block.cms-block-text-teaser {
        margin-top: calc(50vh - 360px);
        h1 {
          font-size: 4.375rem;
          margin-bottom: 2rem;
          color: #fff;
        }
      }

      // button
      .cms-block.cms-block-text {
        margin-top: -1rem;
      }

      // call-to-actions
      .cms-block.cms-block-image-text-row {
        margin-right: 1rem;
        position: absolute;
        bottom: 0;
        .col-md-4 {
          padding-bottom: 0;
          display: flex;
          align-items: center;
          height: 14rem;
          transition: $dpk-transition-speed;
          margin-bottom: 0;

          &> div {
            display: flex;
            align-items: center;
            height: 100%;
            background-color: $dpk-primary;
            transition: $dpk-transition-speed;
          }
          &:hover {
            cursor: pointer;
          }
        }
        h3 {
          font-size: 1.35rem;
          margin-bottom: 1rem;
          transition: $dpk-transition-speed;
        }
        p {
          color: #fff;
          height: 6rem;
          margin: 0;
          overflow: hidden;
          transition: $dpk-transition-speed;
          opacity: 1;
          font-size: .75rem;
        }

        .cms-element-image {
          align-items: center;
        }

        .cms-image-link {
          display: block;
          width: 50%;
          margin: 60% 10%;
        }

        .cms-image {
          width: 7rem;
          transition: $dpk-transition-speed;
        }

        .cms-block-container-row {
          align-items: flex-end;
        }
      }

    }

    // Sale Section
    .bow--dpk-homepage--sale {

      margin-top: 5rem;

    }

    // Trust Section
    .bow--dpk-homepage--trusts {
      margin-top: 5rem;

      h3 {
        color: $dpk-primary;
        margin-bottom: 1.6rem;

      }
    }

  }
}

@media screen and (min-width: 992px) {

  .is-act-home {

    // Banner Section
    .bow--dpk-homepage--banner {

      // main heading
      .cms-block.cms-block-text-teaser {
        height: 70vh;
        margin-top: 20vh;
        max-width: 75%;
        .bow--dpk-homepage--headline{
          margin-top: 0;
          h1 {
            text-align: left;
            font-size: 7rem;
            margin-bottom: 2rem;
            line-height: 1.2;
          }
        }
      }

      // call-to-actions
      .cms-block.cms-block-image-text-row {
        margin: 0 3rem 0 2rem;
        height: 30vh;
        .col-md-4 {

          height: 6rem;
          &> div {

            &:first-child {
              width: 35%;
            }
            &:last-child {
              width: 65%;
            }
          }

          &:hover {
            height: 15rem;
            p {
              height: 6rem;
              opacity: 1;
            }
            .cms-image {
              width: 7rem;
            }
            h3 {
              margin-bottom: 1.6rem;

            }
            &> div {
              background-color: $dpk-primary;
            }
          }
          h3 {
            margin-bottom: 0;
            transition: $dpk-transition-speed;
            font-size: 1.2rem;
          }
          p {
            height: 0;
            margin: 0;
            overflow: hidden;
            transition: $dpk-transition-speed;
            opacity: 0;
            font-size: .85rem;
            padding-right: 5px;
          }

          .cms-element-image {
            align-items: center;
          }

          .cms-image-link {
            width: auto;
            margin: auto;
          }

          .cms-image {
            width: 3rem;
            transition: $dpk-transition-speed;
          }

        }

      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .is-act-home {
    // Banner Section
    .bow--dpk-homepage--banner {
      // main heading
      .cms-block.cms-block-text-teaser {
        max-width: 42%;
      }
    }
  }
}