.cms-element-bow-logo-slider {
    .bow-logo-slider-container {
        .bow-logo-slider-inner {
            .bow-logo-slider-item-container {
                img {
                  max-height: 250px;
                  transition: .5s ease-in-out;
                  &:hover {
                    filter: grayscale(0);
                  }
                }
            }
        }
    }
}
