.is-act-home{
  .product-slider{
    .product-slider-item{
      .product-box{
        border: none;
        .product-wishlist {
          .product-wishlist-action-circle {
            background-color: $dpk-primary-soft;
            .icon-wishlist {
              color: $dpk-primary;
            }
          }
        }
        .product-variant-characteristics{
          display: none;
        }
        .dpk-price-action-list{
          display: flex;
          .btn-light {
            color: $dpk-white-font;
            background-color: $dpk-primary;
            transition: .3s ease-in-out;
            &:hover {
              background-color: $dpk-secondary;
            }
          }
          .product-price{
            color: $dpk-primary;
            &.with-list-price {
              color: $dpk-discount-color !important;
            }
            .list-price {
              text-decoration: line-through;
            }
          }
          .dpk-btn-buy{
            .product-cart-icon {
              transition: .3s ease-in-out;
              &:hover {
                background-color: $dpk-secondary;
              }
            }

            img{
              height: 55px;
              margin-bottom: 20px;
            }
          }
        }

      }
    }
  }
}