@font-face {
    font-family: "#{$additional-dpk-font-family}";
    src: url("#{$dpk-assets-path}fonts/iconset/additional-dpk-icons.ttf?sddgss")
        format("truetype"),
      url("#{$dpk-assets-path}fonts/iconset/additional-dpk-icons.woff?sddgss")
        format("woff"),
      url("#{$dpk-assets-path}fonts/iconset/additional-dpk-icons.svg?sddgss##{$additional-dpk-font-family}")
        format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .additional-iconset-dpk {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "#{$additional-dpk-font-family}" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-flag-o:before {
    content: "\61";
  }
  .icon-milestone:before {
    content: "\62";
  }
  .icon-tools:before {
    content: "\63";
  }
  .icon-address:before {
    content: "\64";
    position: relative;
    left: -5px;
    font-size: 1.5rem;
  }
  .icon-database:before {
    content: "\65";
    position: relative;
    left: -5px;
    font-size: 1.5rem;
  }
  .icon-archive:before {
    content: "\66";
  }
  .icon-comments:before {
    content: "\67";
    position: relative;
    left: -10px;
    font-size: 1.5rem;
  }
  