@font-face {
  font-family: '#{$dpk-font-family}';
  src:
          url('#{$dpk-assets-path}fonts/iconset/dpk-icons.ttf?sddgss') format('truetype'),
          url('#{$dpk-assets-path}fonts/iconset/dpk-icons.woff?sddgss') format('woff'),
          url('#{$dpk-assets-path}fonts/iconset/dpk-icons.svg?sddgss##{$dpk-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconset-dpk {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$dpk-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download {
  &:before {
    font-size: 24px;
    content: $icon-download; 
    color: $dpk-primary;
  }
}
.icon-headphones {
  &:before {
    content: $icon-headphones;
    color: $dpk-primary;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
    color: $dpk-white-font !important;
  }
}
.icon-pfeil {
  &:before {
    content: $icon-pfeil;
    color: $dpk-white-font;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
    color: $dpk-white-font !important;
  }
}
.icon-power {
  &:before {
    content: $icon-power;
    color: $dpk-white-font;
  }
}
.icon-school {
  &:before {
    content: $icon-school;
    color: $dpk-white-font;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
    color: $dpk-white-font !important;
  }
}


