{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_top_bar %}
    {# Default SW6 TOP BAR remowed  #}
{% endblock %}
{% block layout_header_navigation %}

    {# added nowrap, container and m-auto class #}

    <div class="row align-items-center header-row m-auto">
        <div class="bow--contact col-12">
            <span class="bow--contact-item">
                {{ "dpk.contactBar.text1"|trans }}
            </span>
            <span class="bow--contact-item">
                {{ "dpk.contactBar.text2"|trans }}
            </span>
            <span class="bow--contact-item">
                {{ "dpk.contactBar.text3"|trans }}
            </span>
            <span class="bow--contact-item">
                <span class="iconset-dpk icon-mail"></span>
                    <a href="mailto:{{ "dpk.contactBar.email"|trans }}">
                        <i class=""></i>{{ "dpk.contactBar.email"|trans }}
                    </a>
                <span class="iconset-dpk icon-phone"></span>
                    <a href="tel:{{ "dpk.contactBar.phone.link"|trans }}">
                        <i class=""></i>{{ "dpk.contactBar.phone.text"|trans }}
                    </a>
            </span>
        </div>
        {% block layout_header_logo %}
            <div class="col-12 align-self-center header-logo-col">
                {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
            </div>

        {% endblock %}
        <div class="nav-main col-12 col-lg-auto">

            {% block base_navigation_inner %}
                {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
            {% endblock %}
        </div>
        {% block layout_header_search %}
            {# moved search to the column next to it (actions) #}
        {% endblock %}

        {% block layout_header_actions %}

            {# added header-search-col to make the search appear#}
            <div class="col-12 order-1 col-sm-auto flex-sm-fill order-sm-2 header-actions-col header-search-col">
                <div class="row no-gutters">

                    {# added the search right here #}
                    <div class="col-sm-auto d-none d-sm-block">
                        {% block layout_header_navigation_toggle_tablet %}
                            <div class="nav-main-toggle">
                                {% block layout_header_navigation_toggle_tablet_button %}
                                    <button class="btn nav-main-toggle-btn header-actions-btn"
                                            type="button"
                                            data-offcanvas-menu="true"
                                            aria-label="{{ "general.menuLink"|trans|striptags }}">
                                        {% block layout_header_navigation_toggle_tablet_button_icon %}
                                            {% sw_icon 'stack' %}
                                        {% endblock %}
                                    </button>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                    <div class="col d-sm-block bow--search-mobil">
                        {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                    </div>

                    {# ----------------------------------- #}
                    {% block layout_header_navigation_toggle %}
                        <div class="col d-sm-none">
                            <div class="menu-button">
                                {% block layout_header_navigation_toggle_button %}
                                    <button class="btn nav-main-toggle-btn header-actions-btn"
                                            type="button"
                                            data-offcanvas-menu="true"
                                            aria-label="{{ "general.menuLink"|trans|striptags }}">
                                        {% block layout_header_navigation_toggle_button_icon %}
                                            {% sw_icon 'stack' %}
                                        {% endblock %}
                                    </button>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block layout_header_search_toggle %}
                        {# <div class="col-auto d-sm-none"> #}
                        <div class="col-auto d-sm-none">
                            <div class="search-toggle">
                                <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#searchCollapse"
                                        aria-expanded="false"
                                        aria-controls="searchCollapse"
                                        aria-label="{{ "header.searchButton"|trans|striptags }}">
                                    {% sw_icon 'search' %}
                                </button>
                            </div>
                        </div>
                    {% endblock %}

                    <div class="col-auto header-controls">
                        {#  <div class="header-controls-item">
                            <div class="header-currency">
                                {% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}
                            </div>
                        </div>#}

                        <div class="header-controls-item">
                            <div class="header-faq">
                                <a href="/faq/">
                                    <img src="{{ asset('bundles/bowdeinepktheme/assets/dpk-svg-icons/Icon-help-circle-outline.svg') }}" alt="FAQ">
                                </a>
                            </div>
                        </div>

                        {% block layout_header_actions_account %}
                            <div class="header-controls-item">
                                <div class="account-menu">
                                    {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                                </div>
                            </div>
                        {% endblock %}

                        {% if config('core.cart.wishlistEnabled') %}
                            {% block layout_header_actions_wishlist %}
                                <div class="header-controls-item">
                                    <div class="header-wishlist">
                                        <a class="btn header-wishlist-btn header-actions-btn"
                                           href="{{ path('frontend.wishlist.page') }}"
                                           title="{{ 'header.wishlist'|trans|striptags }}"
                                           aria-label="{{ 'header.wishlist'|trans|striptags }}">
                                            {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}
                                        </a>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endif %}



                        {% block layout_header_actions_cart %}
                            <div class="header-controls-item">
                                <div class="header-cart"
                                     data-offcanvas-cart="true">
                                    <a class="btn header-cart-btn header-actions-btn"
                                            {% if context.customer != null %}
                                                href="{{ path('frontend.checkout.cart.page') }}"
                                            {% endif %}
                                       data-cart-widget="true"
                                       title="{{ 'checkout.cartTitle'|trans|striptags }}"
                                       aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                                        {% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
                                    </a>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}