{% sw_extends '@Storefront/storefront/page/account/index.html.twig' %}

{% block page_account_overview_newsletter %}
    {#  <div class="account-overview-card account-overview-newsletter">
        <div class="card">
            <div class="card-body">
                {% block page_account_overview_newsletter_title %}
                    <h2 class="card-title">
                        {{ "account.newsletterTitle"|trans|sw_sanitize }}
                    </h2>
                {% endblock %}

                {% block page_account_overview_newsletter_content %}
                    <div class="js-newsletter-wrapper">
                        {% if feature('FEATURE_NEXT_14001') %}
                            {% sw_include "@Storefront/storefront/page/account/newsletter.html.twig" with { "newsletterAccountPagelet": page.getNewsletterAccountPagelet() } %}
                        {% else %}
                            {% sw_include "@Storefront/storefront/page/account/newsletter.html.twig" with { "customer": context.customer } %}
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>#}
{% endblock %}
