{% sw_extends '@Storefront/storefront/component/delivery-information.html.twig' %}

{% block component_delivery_information %}
{# @var product \Shopware\Core\Content\Product\ProductEntity #}
{% set product = page.product %}

<div class="product__delivery-information">
    {% if not product.active %}
        {% block component_delivery_information_not_available %}
            <link itemprop="availability" href="http://schema.org/LimitedAvailability" />
            <p class="delivery-information">
                <span class="delivery-status-indicator bg-danger"></span>
                {{ "general.deliveryNotAvailable"|trans|sw_sanitize }}
            </p>
        {% endblock %}
    {% elseif product.releaseDate and product.releaseDate|date('U') > "now"|date('U') %}
        {% block component_delivery_information_pre_order %}
            <link itemprop="availability" href="http://schema.org/PreOrder" />

            <ul class="list list_inline list_inline_secondary">
                <li class="list__item">
                    <span class="delivery-status-indicator bg-warning"></span>
                    <strong class="text-warning">
                        {{ "general.deliveryShipping"|trans|sw_sanitize }}
                        {{ product.releaseDate|format_date('long', locale=app.request.locale) }}
                    </strong>
                </li>
                <li class="list__item">
                    <a href="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}"
                        title="{{ "deliveryInfo.freeShipping"|trans|sw_sanitize }}" data-toggle="modal"
                        data-url="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}">
                        {{ "deliveryInfo.freeShipping"|trans|sw_sanitize }}
                    </a>
                </li>
            </ul>


        {% endblock %}
    {% elseif product.availableStock >= product.minPurchase and product.deliveryTime %}
        <link itemprop="availability" href="http://schema.org/InStock" />
        <ul class="list list_inline list_inline_secondary">
            <li class="list__item">
                <span class="delivery-status-indicator bg-success"></span>
                <strong class="text-success">
                    {{ "detail.deliveryTimeAvailable"|trans({'%name%': product.deliveryTime.translation('name')})|sw_sanitize }}
            </strong>
            </li>
            <li class="list__item">
                <a href="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}"
                    title="{{ "deliveryInfo.freeShipping"|trans|sw_sanitize }}" data-toggle="modal"
                    data-url="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}">
                    {{ "deliveryInfo.freeShipping"|trans|sw_sanitize }}
                </a>
            </li>
        </ul>
        <div class="d-none product_detail__delivery-time">
            <span class="color--primary">
                {{ "deliveryInfo.deliveryTime"|trans|sw_sanitize }}
                {{ product.deliveryTime.name|trans|sw_sanitize }}
            </span>
        </div>
    {% elseif product.isCloseout and product.availableStock < product.minPurchase %}
        <link itemprop="availability" href="http://schema.org/LimitedAvailability" />
        <p class="delivery-information">
            <span class="delivery-status-indicator bg-danger"></span>
            {{ "detail.soldOut"|trans|sw_sanitize }}
        </p>
    {% elseif product.availableStock < product.minPurchase and product.deliveryTime and product.restockTime %}
        <link itemprop="availability" href="http://schema.org/LimitedAvailability" />

        <ul class="list list_inline list_inline_secondary">
            <li class="list__item">
                <span class="delivery-status-indicator bg-warning"></span>
                <strong class="text-warning">
                    {{ "detail.deliveryTimeRestock"|trans({
                        '%count%': product.restockTime,
                        '%restockTime%': product.restockTime,
                        '%name%': product.deliveryTime.translation('name')
                    })|sw_sanitize }}
                </strong>
            </li>
            <li class="list__item">
                <a href="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}"
                    title="{{ "deliveryInfo.freeShipping"|trans|sw_sanitize }}" data-toggle="modal"
                    data-url="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}">
                    {{ "deliveryInfo.freeShipping"|trans|sw_sanitize }}
                </a>
            </li>
        </ul>
    {% endif %}
</div>

{% endblock %}