{# @deprecated tag:v6.4.0 -  Will be handled by generic "layout/breadcrumb.html.twig" template #}
{% block component_listing_breadcrumb %}
    {% set breadcrumb = sw_breadcrumb(category) %}
    {% set breadcrumbKeys = breadcrumb|keys %}

    <div class="list-inline">
        <div class="breadcrumb-container list-inline-item">
            <a href="{{ path('frontend.home.page') }}"
               title="{{ "header.logoLink"|trans|striptags }}">
                Home
            </a>
        </div>
        {% for key, item in breadcrumb %}
            <div class="breadcrumb-container list-inline-item">
                {% block component_listing_breadcrumb_category %}
                    <a class="{% if key is same as(category.id) %} is-active{% endif %}"
                       href="{{ seoUrl('frontend.navigation.page', { navigationId: key }) }}">
                        {% block component_listing_breadcrumb_link_name %}
                            {{ item }}
                        {% endblock %}
                    </a>
                {% endblock %}

                {% block component_listing_breadcrumb_placeholder %}
                {% endblock %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
