{% block layout_header_actions_cart_widget %}
    {#  <span class="header-cart-icon">
        <span class="icon icon-cart">
            <svg id="icon-shopping-cart" viewBox="0 0 32 32">
                <title>shopping-cart</title>
                <path d="M13.419 25.175c-1.55 0-2.813 1.262-2.813 2.813s1.262 2.813 2.813 2.813 2.813-1.262 2.813-2.813c0-1.55-1.262-2.813-2.813-2.813zM13.419 29.231c-0.688 0-1.244-0.556-1.244-1.244s0.556-1.244 1.244-1.244c0.688 0 1.244 0.556 1.244 1.244s-0.556 1.244-1.244 1.244z"></path>
                <path d="M23.288 25.175c-1.55 0-2.813 1.262-2.813 2.813s1.262 2.813 2.813 2.813c1.55 0 2.813-1.262 2.813-2.813 0.006-1.55-1.256-2.813-2.813-2.813zM23.288 29.231c-0.688 0-1.244-0.556-1.244-1.244s0.556-1.244 1.244-1.244c0.688 0 1.244 0.556 1.244 1.244s-0.556 1.244-1.244 1.244z"></path>
                <path d="M23.981 10.363h-11.256c-0.431 0-0.787 0.35-0.787 0.787 0 0.431 0.35 0.787 0.787 0.787h11.256c0.431 0 0.788-0.35 0.788-0.787s-0.35-0.787-0.788-0.787z"></path>
                <path d="M23.369 14.438h-10.031c-0.431 0-0.787 0.35-0.787 0.787 0 0.431 0.35 0.787 0.787 0.787h10.031c0.431 0 0.788-0.35 0.788-0.787 0-0.431-0.35-0.787-0.788-0.787z"></path>
                <path d="M31.644 6.856c-0.3-0.369-0.744-0.581-1.219-0.581h-24.469l-0.494-2.4c-0.106-0.5-0.444-0.919-0.912-1.125l-3.45-1.5c-0.4-0.163-0.863 0.019-1.038 0.419s0.012 0.863 0.406 1.031l3.45 1.5 3.8 18.456c0.15 0.725 0.8 1.256 1.537 1.256h18.825c0.431 0 0.788-0.35 0.788-0.788 0-0.431-0.35-0.788-0.788-0.788h-18.819l-0.463-2.244h19.431c0.744 0 1.387-0.525 1.538-1.256l2.2-10.669c0.094-0.463-0.025-0.944-0.325-1.313zM28.231 18.519h-19.756l-2.2-10.669h24.15l-2.194 10.669z"></path>
            </svg>
        </span>
    </span>#}
    <span class="header-cart-icon">
        {% sw_icon 'cart' %}
    </span>

    {% if page.cart.lineItems|length > 0 %}
        <span class="badge badge-primary header-cart-badge">{{ page.cart.lineItems|length }}</span>
    {% endif %}
    <span class="header-cart-total">
        {{ page.cart.price.positionPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
    </span>
{% endblock %}
